<section class="helvetica pa-3">
  <h1>New Widget</h1>
  <%= form_with model: @widget do |f| %>
    <div class="ma-3">
      <%= f.text_field :name, class: "db w-100 pa-2 ma-1", autofocus: true, placeholder: "e.g. Stembolt" %>
      <%= f.label :name, class: "fw-4 fs-italic" %>
    </div>
    <div class="ma-3">
      <%= f.number_field :price_cents, class: "db w-100 pa-2 ma-1", placeholder: "e.g. 123.45" %>
      <%= f.label :price_cents, class: "fw-4 fs-italic" %>
    </div>
    <div class="ma-3">
      <%= f.select :manufacturer_id,
        options_from_collection_for_select(@manufacturers.sort_by(&:name), :id, :name),
        { include_blank: "-- Choose --" },
        { class: "db w-100 pa-2 ma-1" } %>
      <%= f.label :manufacturer_id, class: "fw-4 fs-italic" %>
    </div>
    <div class="tr">
      <%= f.submit "Create", class: "ba br pa-2 white bg-blue" %>
    </div>
  <% end %>
</section>
