<h1>Widget Information</h1>
<h2 data-testid="widget-name">Widget <%= @widget.name %></h2>
<h2>ID #<%= styled_widget_id(@widget) %></h2>

<% if flash[:notice] %>
    <aside>
        <%= flash[:notice] %>
    </aside>
<% end %>

<h3>
    Built by <%= @widget.manufacturer.name %>
    out of <%= @widget.manufacturer.address.street %>
</h3>

<%= render(WigetRatingComponent.new(widget: @widget, show_cta: true)) %>
